# Ignore the database file and misc
*.db
*.sqlite
*.pyc
.idea
.vscode
.pytest_cache
.ds_store
*.code-workspace
.ipynb_checkpoints
*.egg-info
build/
simple/version.py
scripts/spectra_convert/Zhang18/sty2054_supplemental_files/*
scripts/spectra_convert/Zhang18/SIMPLE/*
