# Ignore the database file and misc
*.db
*.sqlite
*.pyc
.idea
.vscode
.pytest_cache
.ds_store
*.code-workspace
.ipynb_checkpoints
*.egg-info
build/
simple/version.py
*.fits
scripts/ingests/Zhang18/sty2054_supplemental_files.zip
scripts/ingests/Zhang18/sty2054_supplemental_files/*
