html {
    width:1100px;
    margin:auto;
}

a               { color: #377BA8; text-decoration: none; }
a:hover         { text-decoration: underline; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h2              { font-size: 1.2em; }
.error          { background: #F0D6D6; padding: 0.5em; margin: 2em auto; width: 35em; border: 5px solid #ccc;
                  padding: 0.8em; }

.page           { background: white; padding: 0.8em;}
.page div.block {margin:10px 0; padding:20px; }
.page div.grey {border:1px #ccc solid; background-color:#eee;}
.page div.grey h2 {border-bottom:1px #ccc solid;}
.page div.grey ul li, .page div.grey ol li {margin:0.5em 0;}
.page #skyplot {float:right; width:500px; border:1px black solid; padding:20px; margin-bottom:20px;}

#footer      { color: #A9A9A9; overflow:hidden;}
#footer a    { color: #808080; text-decoration: none; }
#footer a:hover  { text-decoration: underline; }

/* Header (image and menu items) */
#header { background: #ffffff; overflow:hidden; white-space: nowrap;}
#header img {float:left;}
#header ul { list-style-type: none; margin: 0; padding: 0; overflow: hidden;
               border:1px; border-color: #000000; background-color: #1E68AD; }
#header li { float: left; }
#header li a { display: block; color: white; text-align: center;
                 padding: 14px 16px; text-decoration: none; }
#header li a:hover { background-color: #eeeeee; color: #373737; }
#header div.head {padding:30px; overflow: hidden;}
#header div.head h1 {float:left; padding:20px; font-size:50px; color:black; border-bottom:none;}

div.dataTables_wrapper {
        width: 1024px;
        margin: 0 auto;
    }

/* Hover box for Browse page */
a span {
    display: none;
    position: absolute;
    color: #000;
    background: #dcdcdc;
    border:1px solid #377BA8;
    border-radius: 10px;
    padding: 5px; width: 200px;
    left:50px; z-index: 9; }
a {position: relative; }
a:hover span {display: block; text-align: center; }

/* Summary page layout */
.basicinfo {
    float:left;
    margin: 20px 0;
}

.basicinfo td {
    padding:10px 20px 0px 0;
}

img.view {height:14px;}

#aladin-lite-div {
    width: 400px;
    height: 400px;
    float: right;
    margin: 10px;
    border:1px black solid;
}
.clearfix { clear:both }
.hidden {visibility: hidden; position:absolute;}
/*
 * Table styles
 */
td a {
  display: inline-block;
  height:100%;
  width:100%;
  vertical-align: middle;
}

.basicinfo a {
  display: inline;
}

td, th {
  vertical-align: middle;
  border: none;
}

table {
    margin-top:10px;
    border:none;
    font-size:0.9em;
}

th {
    text-align: left;  
}

th img {
    text-align: right;
}

ul#sql-builder {
    list-style-type: none;
    margin:10px 0;
    padding:0;
}

ul#sql-builder li {
    padding:10px 0;
}

ul#sql-builder .pull-right {
    float: right;
    padding-right:10px;
}

ul#sql-builder div.rule-filter-container, ul#sql-builder div.rule-operator-container, ul#sql-builder div.rule-value-container {
    float: left;
    position: relative;
    bottom:11px;
}

ul#sql-builder ul.rules-list {
    border:1px solid #ccc;
    list-style-type:none;
    margin:20px 10px;
    padding:10px;
}

ul#sql-builder ul.rules-list li.rule-container{
    clear:both;
}

ul#sql-builder li.rule-container .btn-danger {
    position: relative;
    bottom:11px;
}