{% extends "base.html" %}

{% block content %}
            
    <div class='block'>
        <h1>ONCdb Feedback</h1>

        <p>
            Have a suggestion for improving this tool? A correction on a particular object or set of objects? <br>
            Have you found a potential bug or error in our website? Just want to ask us a question? Let us know!
        </p>
        <p>
            If you use GitHub, you can always submit new Issues to the
            <a href="https://github.com/ONCdb/ONCdb">ONCdb database repository</a> or <br>
            the <a href="https://github.com/ONCdb/ONCdbWeb">ONCdb Web application repository</a>,
            depending on the nature of your comment.
        </p>

    </div>

{% endblock %}