{% extends "base.html" %}

{% block content %}
            
    <div class='block'>
        <h1>Feedback/Questions</h1>
        
        <p>
            If you:
            <ul>
                <li>have a feature request or suggestion for improving this tool,</li>
                <li>found a bug in the software, or</li>
                <li>want to ask a question about the application</li>
            </ul>
            
            Please <a href="https://github.com/ONCdb/ONCdbWeb/issues">click here to create an issue</a> on the ONCdbWeb Github repository. This is where we manage the code for the Web application you are currently using!
        </p>
        
        <p>
            If you:
            <ul>
                <li>found an error in the data presented here,</li>
                <li>would like to see a particular catalog included in the database, or</li>
                <li>have a question about the data</li>
            </ul>
            
            Please <a href="https://github.com/ONCdb/ONCdb/issues">click here to create an issue</a> on the ONCdb Github repository. This is where we keep the data that is served by the Web application.
        </p>
        
        <p>We'll respond as quickly as possible. Thanks for using The Orion Nebula Cluster Database!</p>

    </div>

{% endblock %}