{% extends "base.html" %}

{% block content %}
            
    <div class='block'>
        
        <h1>Welcome!</h1>
        <p style="line-height:1.5em;">The Orion Nebula Cluster Database is a cross-matched and curated collection of<br>
            astrometry, photometry, spectra, and image data for {{source_count|safe}} sources in the ONC.</p>
        <p>The catalogs currently included are:
            <ul style="line-height:1.5em;">{{cat_names|safe}}</ul>
        </p>
        <p style="line-height:1.5em;">
            Use the forms below to browse though tables, query the database, or see the full inventory of a particular source.<br>Then plot the results, click through interactive sky maps, or generate spectral energy distributions and caluclate fundamental parameters.
        </p>
        
    </div>
    
    <div class="block grey">
        <h2 id="browse">Browse the Database</h2>
        <p>Take a look at 100 random records in the selected table.</p>

        <!-- <form method="GET" action="../browse"> -->
        <form id='searchform' method='post' action='browse' >
            <p>
                <input type="submit" value="Browse" />
                <select name="browse_table">
                    {{tables|safe}}
                </select>
            </p>
        </form>

    </div>

    <div class="block grey">
        <h2 id="search">Search the Database</h2>

        <form id='searchform' method='post' action='search' >
        <ol>
            <li>Search the sources table for objects within  <input type="text" name="radius" size="4" rows="1" value="1" />  arcminutes of a J2000 (RA, Dec) coordinate in decimal degrees (e.g. '83.64, -5.33')</li>
            <li>Search any table for alphanumeric matches</li>
        </ol>
            <p>
                Search for
                <input type="text" name="search_to_run" size="40" rows="1" value="{{defsearch}}" />
                in
                <select name="table">
                    {{tables|safe}}
                </select>
                table.
                <input type='submit' value='Search' />
            </p>


        </form>

    </div>

    <div class="block grey">
        <h2 id="inventory">Check Inventory</h2>

        <form id="inventoryform" method="post" action="inventory">
            <p> Search the database for information on a particular source ID:
                <input type="text" name="id_to_check" size="10" rows="1" value="{{source_id}}" />
                <input type="submit" value="Check Inventory" />
            </p>
        </form>
    </div>

    <!-- <div class="block grey">

        <h2 id="sql">SQL Builder</h2>

        <p>
            Construct a SQL query by selecting the table, selections, and conditions for your search:
        </p>

        <form id='buildqueryform' method='post' action='buildquery' >

            <ul id="sql-builder">
                <li>
                    FROM
                    <select name="table" id="tableselector">
                        <option value="none" selected='selected'>--</option>
                        {{tables|safe}}
                    </select>

                </li>
                <li>
                    SELECT
                    {{ column_select | safe}}

                </li>

                <li>
                    WHERE

                    <div id="builder"></div>

                    <script>
                      $('#builder').queryBuilder({
                        filters: [{{column_script|safe}}]
                      });
                    </script>
                </li>
            </ul>
            <p>
                <input type='submit' value='Submit' />
            </p>
        </form>
    </div> -->

    <div class="block grey">

        <h2 id="sql">SQL Query</h2>

        <p>
            Write your own SQL query in the box below! <a href='/schema'>Check the database schema</a> for column and table names.
        </p>
        <p>
            Not familiar with SQL queries? Here are some examples:
        </p>
        <ul>
            <li>SELECT shortname, ra, dec FROM sources WHERE (ra BETWEEN 83.64 AND 83.66) AND (dec BETWEEN -5.33 AND -5.32)</li>
            
            <li>SELECT band, magnitude, magnitude_unc FROM photometry WHERE source_id=4</li>
            <li>SELECT source_id, band, magnitude FROM photometry WHERE band='ACS_HRC.F435W' AND magnitude>26</li>
            <li>SELECT t.name, p.band, p.magnitude, p.magnitude_unc FROM telescopes AS t
                JOIN photometry AS p ON p.telescope_id=t.id WHERE p.source_id=4</li>
            <li>SELECT p1.source_id,p1.ra,p1.dec,p1.magnitude-p2.magnitude as color FROM photometry AS p1 JOIN photometry AS p2 ON p1.source_id=p2.source_id WHERE p1.band='ACS_HRC.F555W' AND p2.band='ACS_HRC.F850LP' AND color BETWEEN 4.5 AND 4.505</li>
        </ul>

        <form id='queryform' method='post' action='runquery' >
            <p>
                <textarea name="query_to_run" cols="80" rows="8">SELECT * FROM sources LIMIT 20</textarea>
            </p>
            <p>
                <input type='submit' value='Submit' />
            </p>
        </form>
    </div>
    
{% endblock %}
