{% extends "base.html" %}

{% block content %}
            
    <div class='grey block' style='clear:both;overflow:hidden;'>
        <div style='float:left;'>
            <h1>{{ name|safe }}</h1>
        
            <table class='basicinfo'>
                <tr>
                    <td><strong>Coordinates:</strong></td>
                    <td>{{coords|safe}}</td>
                </tr>
                <tr>
                    <td><strong>Distance:</strong></td>
                    <td>{{distance|safe}}</td>
                </tr>
                <tr>
                    <td><strong>Spectral Types:</strong></td>
                    <td>{{sptypes|safe}}</td>
                </tr>
                <tr>
                    <td><strong>Comments:</strong></td>
                    <td>{{comments|safe}}</td>
                </tr>
                <tr>
                    <td><strong>Alternate designations:</strong></td>
                    <td>{{allnames|safe}}</td>
                </tr>
                <tr>
                    <td><strong>Catalog search:</strong></td>
                    <td><a href="{{simbad|safe}}" target='_'>SIMBAD</a>, <a href="{{vizier|safe}}" target='_'>Vizier</a></td>
                </tr>
            </table>
        </div>
        
        <div id="aladin-lite-div">
            <script type="text/javascript" src="http://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js" charset="utf-8"></script>
            <script type="text/javascript">
                var aladin = A.aladin('#aladin-lite-div', {cooFrame: "J2000", showFrame: false, showGotoControl: false,
                survey: "P/2MASS/color", fov:0.1, target: "{{coords|safe}}", showReticle: true});
                // Other surveys: P/DSS2/color  P/allWISE/color -->
                
                var catsim = A.catalogFromSimbad("{{coords|safe}}", 0.1, {onClick: 'showPopup', limit: 100});
                aladin.addCatalog(catsim);
                
                var cat = A.catalog({name: 'ONCdb Source', sourceSize: 10});
                aladin.addCatalog(cat);
                cat.addSources([A.marker({{ra|safe}}, {{dec|safe}}, {popupTitle: '{{name|safe}}', popupDesc:'{{desc|safe}}'})]);
                
            </script>
        </div>
    
    </div>

    <form id='sedform' method='post' action='sed' >
        <div class='block'>
            <h1>Inventory</h1>
            <br>

            {% for table in tables %}
                <h2>{{titles[loop.index]}}</h2>
                <p>{{ table|safe }}</p>
                <br></br>
            {% endfor %}
        </div>

        <div class='block'>
            <h1>Create Spectral Energy Distribution</h1>
            <p>
                To construct a spectral energy distribution for this source, check the boxes of the data you would like to include, specify an age range, then click the button below!
            </p>
            <p>
                Age: <input type="text" name="age_min" size="10" rows="1" value="500" /> - <input type="text" name="age_max" size="10" rows="1" value="3000" /> Myr
            </p>
            <p>
                Please cite <a href="http://iopscience.iop.org/article/10.1088/0004-637X/810/2/158" target="_blank">Filippazzo et al. (2015)</a> if you use this analysis.
            </p>
            
            <p>
                <input type='submit' value='Create SED' />
            </p>

        </div>
    </form>

{% endblock %}