{% extends "base.html" %}

{% block content %}
            
    <div class='grey block' style='clear:both;overflow:hidden;'>
        <div style='float:left;'>
            <h1>{{ name|safe }}</h1>
        
            <table class='basicinfo'>
                <tr>
                    <td><strong>Coordinates:</strong></td>
                    <td>{{coords|safe}}</td>
                </tr>
                <tr>
                    <td><strong>Distance:</strong></td>
                    <td>{{distance|safe}}</td>
                </tr>
                <tr>
                    <td><strong>Spectral Types:</strong></td>
                    <td>{{sptypes|safe}}</td>
                </tr>
                <tr>
                    <td><strong>Comments:</strong></td>
                    <td>{{comments|safe}}</td>
                </tr>
                <tr>
                    <td><strong>Alternate designations:</strong></td>
                    <td>{{allnames|safe}}</td>
                </tr>
                <tr>
                    <td><strong>Catalog search:</strong></td>
                    <td><a href="{{simbad|safe}}" target='_'>SIMBAD</a>, <a href="{{vizier|safe}}" target='_'>Vizier</a></td>
                </tr>
            </table>
            
            <h3 style='color:red;width:300px'>{{warning|safe}}</h3>
        </div>
        
        <div id="aladin-lite-div">
            <script type="text/javascript" src="//aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js" charset="utf-8"></script>
            <script type="text/javascript">
                var aladin = A.aladin('#aladin-lite-div', {cooFrame: "J2000", showFrame: false, showGotoControl: false, survey: "P/2MASS/color", fov:0.05, target: "{{coords|safe}}", showReticle: true});
                
                var cat_list = A.catalog({name: 'ONCdb Sources', sourceSize: 8, color: '#236AAB'});
                aladin.addCatalog(cat_list);
                {% for source in sources %}
                    cat_list.addSources([A.marker({{ source[1] }}, {{ source[2] }}, {popupTitle: '<a href="../inventory/{{source[0]}}">Source {{source[0]}}</a>', popupDesc:'{{ source[3] }}' })]); 
                {% endfor %}
                
                var cat_phot = A.catalog({name: '{{ name|safe }} Photometry', sourceSize: 12, color:'#42f448'});
                aladin.addCatalog(cat_phot);
                {% for phot in phots %}
                    cat_phot.addSources([A.marker({{ phot[0] }}, {{ phot[1] }}, {popupTitle: '{{ phot[2] }}', popupDesc:'{{ phot[3] }}\n{{ phot[4]}}' })]); 
                {% endfor %}
                
                var target = A.catalog({name: '{{ name|safe }}', sourceSize: 15});
                aladin.addCatalog(target);
                target.addSources([A.marker({{ra|safe}}, {{dec|safe}}, {popupTitle: '{{name|safe}}', popupDesc:'{{desc|safe}}'})]);
                
            </script>
        </div>
    
    </div>

    <form id='sedform' method='post' action='sed' >
        <div class='block'>
            <h1>Inventory</h1>
            <br>

            {% for table in tables %}
                <h2>{{titles[loop.index]}}</h2>
                
                    <!-- <form id='searchform' method='post' action='export' > -->
                        
                        <p>{{ table|safe }}</p>
                        <br>
                        
                        <!-- {% if table[1]!='' %}
                            {{ table[1]|safe }}
                            <input type='submit' value='Export Selected' />
                        {% endif %} -->
                    <!-- </form> -->

                <br></br>
            {% endfor %}
        </div>

        <div class='block'>
            <h1>Create Spectral Energy Distribution</h1>
            <p>
                To construct a spectral energy distribution for this source, check the boxes of the data you would like to include, specify an age range and radius, then click the button below!
            </p>
            <p>
                Age: <input type="text" name="age_min" size="10" rows="1" value="0.01" /> - <input type="text" name="age_max" size="10" rows="1" value="0.3" /> Myr
            </p>
            <p>
                Radius: <input type="text" name="radius" size="10" rows="1" value="1" /> \(\pm\) <input type="text" name="radius_unc" size="10" rows="1" value="0.1" /> \(R_\odot\)
            </p>
            <p>
                Please cite <a href="//iopscience.iop.org/article/10.1088/0004-637X/810/2/158" target="_blank">Filippazzo et al. (2015)</a> if you use this analysis.
            </p>
            
            <p>
                <input type='submit' value='Create SED' />
            </p>

        </div>
    </form>

{% endblock %}