{% extends "base.html" %}

{% block content %}
            
    <div class='block'>
        
        <h1>Acknowledgements</h1>
        <p>If you use this database in your work, please cite the Zenodo record of the appropriate release.</p>

        <p>This project was made possible by the generous allocation of the Director's Discretionary Research Fund at the Space Telescope Science Institute. The authors include:
        <ul>
            <li>Joe Filippazzo</li>
            <li>Mario Gennaro</li>
            <li>Andrea Lin</li>
            <li>Massimo Robberto</li>
        </ul>
        </p>
        
        <br>
        
        <h1>History</h1>
        
        <p>
                
        <table class='info'>
            <thead>
                <tr>
                    <td>Version</td>
                    <td>Release Date</td>
                    <td>Description</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0.2</td>
                    <td>2018-06-06</td>
                    <td>Preliminary release with over 11,000 sources, photometry, parallaxes, and spectral types only.</td>
                </tr>
                <tr>
                    <td>0.1-beta</td>
                    <td>2017-11-30</td>
                    <td>Initial release of the ONCdb which contains photometry exclusively from Robberto et al. 2013</td>
                </tr>
            </tbody>
        </table>
    </P>
    </div>
    
    <div class='block'>
        
        <h1>Schema</h1>
        
        <p>
            <table class='info'>
                <thead>
                    <td>Table</td>
                    <td>Number of Records</td>
                </thead>
                {% for table in tables %}
                    <tr>
                        <td><a href="#{{titles[loop.index]}}">{{titles[loop.index]}}</a></td>
                        <td>{{table[0]}}</td>
                    </tr>
                {% endfor %}
            </table>
        </p>
        
    </div>
    
    <div class='block'>
        {% for table in tables %}
            <h2 id="{{titles[loop.index]}}">{{titles[loop.index]}}</h2>
            {{ table[1]|safe }}
        <br>
        <a href="#top">Back to top</a>
        <hr><br>
        {% endfor %}
    </div>

{% endblock %}