{% extends "base.html" %}

{% block content %}
            
    <div class='block'>
        
        <h1>ONCdb History</h1>
        
        <br>
                
        <table class='dataTable'>
            <thead>
                <tr>
                    <td>Version</td>
                    <td>Release Date</td>
                    <td>Description</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.0 (Current)</td>
                    <td>2017-11-30</td>
                    <td>Initial release of the ONCdb which contains datat exclusively from Robberto et al. 2013</td>
                </tr>
                <tr>
                    <td>1.1</td>
                    <td>TBD</td>
                    <td>Added spectra from multiple papers.</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <br>

    <div class='block'>
        
        <h1>ONCdb Schema</h1>
        
        <p>Jump to: 
            <ul>
                {% for table in tables %}
                <li><a href="#{{titles[loop.index]}}">{{titles[loop.index]}} </a></li>
                {% endfor %}
            </ul>
        </p>
    </div>
    
    <div class='block'>
        {% for table in tables %}
            <h2 id="{{titles[loop.index]}}">{{titles[loop.index]}}</h2>
            {{ table|safe }}
        <br>
        <a href="#top">Back to top</a>
        <hr><br>
        {% endfor %}
    </div>

{% endblock %}