{% extends "base.html" %}

{% block content %}
            
    <div class='block'>
        
        <h1>History</h1>
        
        <br>
                
        <table class='info'>
            <thead>
                <tr>
                    <td>Version</td>
                    <td>Release Date</td>
                    <td>Description</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.0 (Current)</td>
                    <td>2017-11-30</td>
                    <td>Initial release of the ONCdb which contains datat exclusively from Robberto et al. 2013</td>
                </tr>
                <tr>
                    <td>1.1</td>
                    <td>TBD</td>
                    <td>Added spectra from multiple papers.</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <br>

    <div class='block'>
        
        <h1>Schema</h1>
        
        <p>
            <table class='info'>
                <thead>
                    <td>Table</td>
                    <td>Number of Records</td>
                </thead>
                {% for table in tables %}
                    <tr>
                        <td><a href="#{{titles[loop.index]}}">{{titles[loop.index]}}</a></td>
                        <td>{{table[0]}}</td>
                    </tr>
                {% endfor %}
            </table>
        </p>
        
    </div>
    
    <div class='block'>
        {% for table in tables %}
            <h2 id="{{titles[loop.index]}}">{{titles[loop.index]}}</h2>
            {{ table[1]|safe }}
        <br>
        <a href="#top">Back to top</a>
        <hr><br>
        {% endfor %}
    </div>

{% endblock %}