{% extends "base.html" %}

{% block content %}
            
    <div class='block'>
        
        <h1>{{title|safe}}</h1>
        
        <div style='margin:20px 0;'>
            <table style="border-collapse: separate; border-spacing: 10px;">
                <tr>
                    <td>Spectral Type</td>
                    <td>  {{spt|safe}}</td>
                </tr>
                <tr>
                    <td>Radius [\(R_\odot\)]</td>
                    <td>  {{radius|safe}}</td>
                </tr>
                <tr>
                    <td>\(f_\text{bol}\) [erg/s/cm2]</td>
                    <td>  {{fbol|safe}}</td>
                </tr>
                <tr>
                    <td>\(m_\text{bol}\)</td>
                    <td>  {{mbol|safe}}</td>
                </tr>
                <tr>
                    <td>\(L_\text{bol}\) [dex]</td>
                    <td>  {{Lbol|safe}}</td>
                </tr>
                <tr>
                    <td>\(T_\text{eff}\) [K]</td>
                    <td>  {{teff|safe}}</td>
                </tr>
            </table>
        </div>
        
        <br>
        
        {{ plot|safe }}

    </div>

    <div class='block'>
        <form method="get" action="{{ download|safe }}">
        <button type="submit">Download SED</button>
        </form>

        <p><a href="javascript:history.go(-1)">Back to inventory</a></p>
    </div>

{% endblock %}