{% extends "base.html" %}

{% block content %}
            
    <div class='block'>
        
        <h1>{{title|safe}}</h1>
        
        <div style='margin:20px 0;'>
            <table>
                <tr>
                    <td>Spectral Type</td>
                    <td>  {{SpT|safe}}</td>
                </tr>
                <tr>
                    <td>\(L_\text{bol}\) [dex]</td>
                    <td>  {{Lbol|safe}}</td>
                </tr>
                <tr>
                    <td>\(T_\text{eff}\) [K]</td>
                    <td>  {{Teff|safe}}</td>
                </tr>
            </table>
        </div>
        
        <br>

        {{ plot|safe }}

    </div>

    <div class='block'>
        <form method="get" action="{{ download|safe }}">
        <button type="submit">Download SED</button>
        </form>

        <p><a href="javascript:history.go(-1)">Back to inventory</a></p>
    </div>

{% endblock %}