{% extends "base.html" %}

{% block content %}
            
    <div class='block'>
        
        <h1>{{title|safe}}</h1>
        
        <div style='margin:20px 0;'>
            <table style="border-collapse: separate; border-spacing: 10px;">
                <tr>
                    <td>Spectral Type</td>
                    <td>  {{spt|safe}}</td>
                </tr>
                <tr>
                    <td>Radius [\(R_\odot\)]</td>
                    <td>  {{radius|safe}}</td>
                </tr>
                <tr>
                    <td>\(f_\text{bol}\) [erg/s/cm2]</td>
                    <td>  {{fbol|safe}}</td>
                </tr>
                <tr>
                    <td>\(m_\text{bol}\)</td>
                    <td>  {{mbol|safe}}</td>
                </tr>
                <tr>
                    <td>\(L_\text{bol}\) [\(L_\odot\)]</td>
                    <td>  {{Lbol|safe}}</td>
                </tr>
                <tr>
                    <td>\(T_\text{eff}\) [K]</td>
                    <td>  {{teff|safe}}</td>
                </tr>
            </table>
            
            <h3 style='color:red;width:400px'>{{warning|safe}}</h3>
            
        </div>
        
        <br>
        
        {{ plot|safe }}
        
        <br><br>
        
        <h1>Data Used in SED</h1>
        <br>
        
        {% for table in results %}
            <h2>{{ table[0]|safe }}</h2>
            {{ table[1]|safe }}
            <br><br>
        {% endfor %}

    </div>

    <div class='block'>
        <form method="get" action="{{ download|safe }}">
        <button type="submit">Download SED</button>
        </form>

        <p><a href="javascript:history.go(-1)">Back to inventory</a></p>
    </div>

{% endblock %}