<!doctype html>
<title>BDNYC SQL Query</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>

<header id="branding">
    <img src="static/images/BDNYC-logo.gif" width="500px" />
    <ul>
        <li><a href="http://www.bdnyc.org">Return to BDNYC Blog</a></li>
        <li><a href="http://astrodbkit.readthedocs.org/en/latest/index.html">BDNYC Database</a></li>
    </ul>
</header>

<div class=page>

    <h1>BDNYC SQL Query</h1>

    <div class=metanav>
        <p>
            The form below allows you to send a query to our brown dwarf database.
            You can grab a copy of the database <a href="https://github.com/BDNYC/BDNYCdb">here</a>. <br>
            The Python <a href="http://astrodbkit.readthedocs.org/en/latest/index.html">astrodbkit</a> package is used
            to generate queries to the database.
        </p>

        <hr>

        <h4>Please type your SQL query below</h4>

        <form id='queryform' method='post' action='runquery' >
            <p>
                <textarea name="query_to_run" cols="80" rows="10">{{defquery}}</textarea>
            </p>
            <p>
                <input type='submit' value='Submit' />
            </p>
        </form>

        <p>Want some example queries? Try these out:</p>
        <ul>
            <li>SELECT shortname, ra, dec FROM sources WHERE (222&lt;ra AND ra&lt;232) AND (5&lt;dec AND dec&lt;15)</li>
            <li>SELECT band, magnitude, magnitude_unc FROM photometry WHERE source_id=58</li>
            <li>SELECT source_id, band, magnitude FROM photometry WHERE band='z' AND magnitude<15</li>
            <li>SELECT wavelength, flux, unc FROM spectra WHERE observation_id=75</li>
            <li>SELECT t.name, p.band, p.magnitude, p.magnitude_unc FROM telescopes as t
                JOIN photometry AS p ON p.telescope_id=t.id WHERE p.source_id=58</li>
            <li>SELECT p1.magnitude-p2.magnitude FROM photometry AS p1
                JOIN photometry AS p2 ON p1.source_id=p2.source_id WHERE p1.band='J' AND p2.band='H'</li>
            <li>SELECT src.designation, src.unum, spt.spectral_type FROM sources AS src JOIN spectral_types AS spt ON spt.source_id=src.id WHERE spt.spectral_type>=10 AND spt.spectral_type<20 AND spt.regime='optical'</li>
            <li>SELECT s.id, p.parallax, p.parallax_unc, p.publication_id FROM sources as s JOIN parallaxes AS p ON p.source_id=s.id</li>
            <li>SELECT s.id, s.ra, s.dec, s.shortname, p.source_id, p.band, p.magnitude
                FROM sources as s
                JOIN photometry as p
                ON s.id=p.source_id
                WHERE s.dec<=-10 AND (p.band IN ("J","H","Ks","W1","W2"))</li>
        </ul>

        <hr>

        <h4>Perform a Search</h4>

        <form id='searchform' method='post' action='search' >
            <p> Search for objects by partial name matching or within 1 degree of an RA, Dec coordinate (in degrees):
                <input type="text" name="search_to_run" cols="30" rows="1" value="{{defsearch}}" />
                <!--
                <select name="table_to_search">
                    <option value="sources">sources</option>
                    <option value="instruments">instruments</option>
                    <option value="parallaxes">parallaxes</option>
                    <option value="photometry">photometry</option>
                    <option value="proper_motions">proper_motions</option>
                    <option value="radial_velocities">radial_velocities</option>
                    <option value="spectral_types">spectral_types</option>
                    <option value="telescopes">telescopes</option>
                </select>
                -->
                <input type='submit' value='Search' />
            </p>
        </form>

        <hr>

        <h4>Plot a Spectrum</h4>

        <form id="spectrumform" method="post" action="spectrum">
            <p> Plot the spectrum of an object by providing the spectrum ID (from the spectra table):
                <input type="text" name="spectrum_to_plot" cols="10" rows="1" value="{{specid}}" />
                <input type='submit' value='Plot' />
                <br> To get the IDs, you can do something like:
                <i>SELECT sp.id, s.shortname FROM spectra AS sp JOIN sources as s WHERE s.id=sp.source_id</i>
            </p>
        </form>

        <hr>

        <h4>Check Inventory</h4>

        <form id="inventoryform" method="post" action="inventory">
            <p> Check the database for information on a particular source ID:
                <input type="text" name="id_to_check" rows="1" value="{{source_id}}" />
                <input type="submit" value="Check Inventory" />
            </p>
        </form>

    </div>
</div>