<!doctype html>
<title>Query Results</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script src="jquery-1.12.0.min.js"></script>
<script src="{{ url_for('static', filename='jquery-1.12.0.min.js')}} "></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.js"></script>
<script>
    $(document).ready( function () {
      $('.dataframe').DataTable();
    } );
</script>

<header id="branding">
  <img src="static/images/BDNYC-logo.gif" width="500px">

        <ul>
            <li><a href="query">Return to Query Form</a></li>
            <li><a href="http://www.bdnyc.org">Return to BDNYC Blog</a></li>
            <li><a href="http://astrodbkit.readthedocs.org/en/latest/index.html">BDNYC Database</a></li>
        </ul>

</header>

<div class=page>
  <h1>Query Results</h1>
    <p></p>

    {{ table|safe }}

  <p><a href="query">Return to query</a></p>


    <form id='formatselect' method='post' action='savefile' >
        <h4>Save to a file:</h4>
        <select name="format">
            <option value="ascii">ASCII</option>
            <option value="votable">VOTable</option>
        </select>
        <input type='submit' value='Save' />
    </form>

</div>

