# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Database Integration Tests

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:  # manual execution

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest ads
        pip install git+https://github.com/dr-rodriguez/AstrodbKit2.git@views_2.0

    - name: Test with pytest
      run: |
        pytest -s
